# Temporäre LaTeX-Dateien ignorieren
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb

# Backup-Dateien ignorieren
*~
*.bak
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db